services:
  api:
    build: ./api
    ports:
      - "4000:4000"
    env_file:
      - ./api/.env
    depends_on:
      - postgres
      - mongo
      - redis
  ws-server:
    build: ./ws-server
    ports:
      - "5000:5000"
    environment:
      - WS_PORT=5000
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
  worker:
    build: ./worker
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
      - postgres
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: purplemerit
    ports:
      - "55432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
  redis:
    image: redis:7
    restart: always
    ports:
      - "16379:6379"
volumes:
  pgdata:
  mongodata:
